# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask instance folder (for config, etc.)
instance/

# Environment variables / secrets
.env
.env.*

# Virtual environment
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/
py_server/Lib/site-packages/*
# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# macOS & Linux
.DS_Store
*.log

# Database / local storage
*.sqlite3
*.db
*.pid

# Python egg info
*.egg-info/
dist/
build/

# Coverage reports
htmlcov/
.coverage
coverage.xml
.cache

# Pytest cache
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# Docker
*.tar
*.img
*.container